:root {
    box-sizing: border-box;
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
    
    font-family: "Rubik", serif;
    font-size: 18px;
    font-weight: 400;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh; 
    display: flex;
    width: 100%;
}
main {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 0;
    min-height: 750px;
    max-height: 1200px;
    position: relative;
    align-items: stretch;
}
main > picture {
    font-size: 0;
}
main img {
    height: 250px;
    width: 100%;
}
.map {
    flex: 1 1;
    z-index: 0;
    position: relative;
    object-fit: fill;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 90%;
    max-width: 500px;
    margin: 1rem 0;
}
h1 {
    color: white;
    font-size: 24px;
}
.search-box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.search-box {
    font-size: 18px;
    padding: 1rem;
    position: relative;
    flex: 1 1;
    border: none;
    outline: none;
    border-radius: 0.5rem 0 0 0.5rem;
}
.search-box-button {
    flex: 0 0 64px;
    background-color: black;
    background-image: url('./images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    border-radius: 0 0.5rem 0.5rem 0;
}
.search-box:hover, .search-box:focus,
.search-box-button:hover, .search-box-button:focus {
    cursor: pointer;
}
h2 {
    color: var(--dark-gray);
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10%;
}
.response-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}
.response-value {
    color: black;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding: 0.5rem;
}

@media only screen and (min-width: 750px) {
    body {
        align-items: center;
        justify-content: center; 
    }
    main {
        min-height: 100vh;
    }
    main img {
        height: 250px;
    }
    .container {
        max-width: none;
        gap: 1.5rem;
    }
    .search-box-container {
        max-width: 500px;
    }
    .response-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 2rem;
        gap: 0;
    }
    .response-entry {
        flex: 1 1 25%;
    }
    .response-entry:not(:last-child) {
        border-right: solid 1.5pt hsla(0, 0%, 59%,0.25);
    }
    .response-value {
        font-size: 24px;
    }
    h2 {
        text-align: left;
        padding-left: 0.5rem;
    }
}
